//Use the params to define reference files, directories, and CLI options
params {

    //CSV files with SRR links 
    sra = "$projectDir/data/sra.csv" //all 8 samples
    test_sra = "$projectDir/data/mini.csv" //only 1 sample to test

    // Directories
    data_dir = "$projectDir/results/raw_data" //location of fastq files from SRA Tools
    diffbind_dir = "$projectDir/results/diffbind" 
    outdir = "$projectDir/results/"

    genome = "$projectDir/data/annot/GRCm38.primary_assembly.genome.fa"
    gtf = "$projectDir/data/annot/gencode.vM10.primary_assembly.annotation.gtf"
    ucsc_genes = "$projectDir/data/annot/mm10_genes.bed" 
    blacklist = "$projectDir/data/annot/mm10-blacklist.v2.bed"
    adapters = "$projectDir/data/adapters.fa"

}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 8
                    clusterOptions = "-P bf528 -l mem_per_core=8G"
                }

                withLabel: process_veryhigh {
                    cpus = 16
                    clusterOptions = "-P bf528 -l mem_per_core=16G"
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

//Change the queueSize to enable more parallel jobs (remember the SCC is a shared resource)
executor {
    $sge {
        queueSize = 20
    }
    $local {
        cpus = 1
    }
}

//Miscellaneous CLI flags
resume = true